.m-header {
  width: 100%;
  height: 48px;
  display: flex;
}

/* header-left */
.m-header-left {
  width: 178px;
  height: 48px;
  background-color: #38393d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.m-header-right {
  width: calc(100% - 178px);
  height: 48px;
  background-color: #ffffff;
}
.m-header-left .sidebar {
  width: 24px;
  height: 24px;
  background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -424px -86px;
  color: #ffffff;
  margin-right: 10px;
}
.m-header-left .logo {
  background-image: url("../../assets/img/Logo_Module_TiengViet_White.66947422.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 96px;
  height: 32px;
}

/* header -right */
.m-header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-header-left {
  width: 30%;
  height: 48px;
  display: flex;
  justify-content: start;
  align-items: center;
  line-height: 48px;
}
.toggle-header {
  background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -847px -35px;
  width: 24px;
  height: 24px;
  margin: 0 10px;
  position: relative;
  top: 5px;
  cursor: pointer;
}

.content-header-right {
  width: 60%;
  height: 48px;
    display: flex;
  justify-content:end;
  align-items: center;
}
.status-header {
  width: 78px;
  height: 30px;
  border: 1px solid #ebedf0;
  border-radius: 40px;
  display: flex;
  padding: 0 12px;
  margin: 0 10px 0 15px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.dot-status{
    background-color: #4ea344;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}
.name-status{
    padding: 0 0 0 7px;
}
.box-excel{
  width: 44px;
  height:24px;
  padding-right: 10px;
  margin-right: 15px;
}
.doawload-excel{
  box-sizing: content-box;
  background: url("../../assets/img/Sprites.88b1c3bd.svg") no-repeat -2144px -200px;
  width: 24px;
  height: 24px;
  cursor: pointer;

}
.header-search{
  position: relative;
}
.input-search{
  width: 160px;
  height: 32px;
  box-sizing: content-box;
  border:1px solid #ebedf0;
  border-radius: 3px;
  padding: 0 35.75px 0 10px;
  outline: none;
  margin-right: 9px;
}
::placeholder{
  font-style: italic; 
}
.icon-search{
  background: url("../../assets/img/Sprites.88b1c3bd.svg") no-repeat -992px -360px;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 20px;
  top: 10px;
}
.header-user{
  padding:0 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 202px;
}
.avatar-user{
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border:1px solid #ccc;
}
.name-user{
  font-size: 14px;
  font-weight: 600;
  padding: 5px 0;
}
.icon-user{
  background: url("../../assets/img/Sprites.88b1c3bd.svg") no-repeat -1076px -32px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}



